body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1ee2fc;
  background-image: url(../images/Pokemon-world-bg.jpg);
  user-select: none;
}

.container {
  max-height: 49vh;
  width: 90vw;
  position: relative;
  bottom: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #ffffffda;
  opacity: 0.6;
  padding: 40px 60px;
}

h2 {
  font-size: 3em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  position: relative;
  top: 15vh;
  padding: 15px 20px;
  width: 20%;
  color: #000;
  background-color: #fff;
  border: solid #1ee2fc 5px;
  border-radius: 5px;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.reset:focus {
  color: #1ee2fc;
  background-color: #262809;
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: solid black 2px;
  border-radius: 10px;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
}

.item::after {
  content: '';
  position: absolute;
  inset: 0;
  background: #404040;
  border: solid #1ee2fc 2px;
  border-radius: 10px;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}
